<!doctype html>
<html dir="rtl" lang="iw">
	<head>
	//= ../header/header-meta.html
		<title>Main page</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper wrapper--img">
			//= ../header/header.html
			<main>
				<div class="st-width-full">
					<p>Основной текст</p>
					<p>םיחולשמו תונמזה         ריחמ רופיש        האוושה/<p>


					<p style="font-size: 50px;">הזמנות ומשלוחים</p>
				</p>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
